page-booking-modal {
  .icon {
    font-size: 2em;
  }
  .master {
    background-color: #EBEBEB;
  }
  .navPic {
    margin: 0 auto;
  }
  .header {
      height: 15vh;
      .headerImg {
        margin-top: 3em;
        height: 90%;
      }
  }
}
